*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    padding: 1%;
}
.row{
    width: 100%;
}

.row::after{
  content: '';   
  display:block;
    clear:both;
}

[class*="col-"]{
    float: left;
    padding: 10px;
}
[class*="col-"]{
    width: 100%;
}
 header{
    background:aqua;
    padding: 0% 1%;
    text-align: center;
}
.icon{
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px;
    background-color:orangered;
    line-height: 30px;
    text-align: center;
}
 nav ul li{
    display: block;
}
nav ul li a{
    display: block;
    text-decoration: none;
    line-height: 30px;
    text-transform: uppercase;
    padding: 5px;
    margin: 10px;
    background-color:#000;
    border-radius: 30px;
    color:white;
    font-size: .9rem;
    transition: 1s;
}
nav ul li a:hover{
    background-color: orangered;
    color: black;

}
                             /* Header ends */



                             /* banner section starts */
    #banner-section{
        background-image: url(img/banner.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

    }
    .banner-contain{
        text-align: center;
        padding:60px 10px;
    }
    .banner-contain h1{
        width: 100%;
        margin: 10px auto;
        background-color: orangered;
        font-size: 3rem;
        padding: 10px;
        border-radius: 5px;
        text-transform: capitalize;
    }
    .banner-contain > p{
        width: 350px;
        margin: 25px auto;
        padding: 10px;
        background-color: green;
        text-transform: uppercase;
        color:#fff;
        font-size: 1.5rem;
        border-radius: 5px;
    }
    .btn{
        width: 200px;
        font-size: 2rem;
        text-transform: capitalize;
        border: none;
        background-color:orangered;
        border-radius: 10px;
        padding: 10px;
        transition: .3s;
        color:black;
        margin: 20px 0;
        cursor: pointer;
    }
    .btn:hover{
        transform: scale(1.2);
        background-color:slateblue;
    }





    #about-us{
        padding: 1%;
    }
    .about-us-contain{
        text-align: center;
    }
    .about-us-contain h3{
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bolder;
    }
    .about-us-contain > p{
        text-align: justify;

    }           
                        /* About us Ends */
       .card-container{
        padding: 1%;
       }
       .card{

        text-align: center;
        max-height: 700px;
        transition: .2s;
       }
       .card-body img{
        max-width: 100%;
        height: auto;
        display: block;
        text-align: center;
       }
       .card-desc{
        background-color:darkcyan;
        text-transform: uppercase;
        line-height: 35px;
       }
       .card-desc h3{
        background-color:orangered;
        font-size: 1.5rem;
        color: #fff;
        padding: 5px;
        }
        .card-desc >p{
            font-size: .8rem;
            color:#fff;
        }
        .card:hover{
            transform: scale(1.05);
        }

                /* Card container Ends */

        #contact{
            padding: 1%;
            background-color:darkcyan;
        }
        .map{
            width: 100%;
            height: 300px;
        }
        .contact-details{
            text-align: center;
            padding: 20px 0;
            color:white;
        }
        .contact-details  h4,h5{
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: bold;
        }
        .contact-details p{
            text-transform: capitalize;

        }

                /* contact-details ends */

            footer{
                padding: 1%;
                background-color: #060930;
                color: white;
            }
            footer p{
                text-align: center;
                line-height: 30px;
                font-size: 1.2rem;
            }
            .social-media{
                text-align: center;
            }
            .social-icon{
                color:white;
                width: 30px;
                height: 30px;
                border: 1px solid;
                border-radius: 50%;
                margin: 0 10px;
                line-height: 30px;
                cursor: pointer;
                transition: .2s;
                text-align: center;
            }
            .social-icon:hover{
                background-color: aqua;
                transform: scale(1.2);
            }


        /* For small device */
 @media(min-width:576px){

.col-sm-1 {width: 8.33%;}
.coll-sm-2 {width: 16.66%;}
.coll-sm-3 {width: 25%;}
.coll-sm-4 {width: 33.33%;}
.coll-sm-5 {width: 41.66%;}
.coll-sm-6 {width: 50%;}
.coll-sm-7 {width: 58.33%;}
.coll-sm-8 {width: 66.66%;}
.coll-sm-9 {width: 75%;}
.coll-sm-10 {width: 83.33%;}
.coll-sm-11 {width: 91.66%;}
.coll-sm-12 {width: 100%;}
    
 }




 
        /* For mediam device */

        @media(min-width:768px){

           .col-md-1 {width: 8.33%;}
            .col-md-2 {width: 16.66%;}
            .col-md-2 {width: 16.66%;}
            .col-md-3 {width: 25%;}
            .col-md-4 {width: 33.33%;}
            .col-md-5 {width: 41.66%;}
            .col-md-6 {width: 50%;}
            .col-md-7 {width: 58.33%;}
            .col-md-8 {width: 66.66%;}
            .col-md-9 {width: 75%;}
            .col-md-10 {width: 83.33%;}
            .col-md-11 {width: 91.66%;}
            .col-md-12 {width: 100%;}
               
            }

            

              
        /* For  larger device */

        @media(min-width:992px){
           
            header{
                background-color:orange;
                position: relative;
            }
            .logo{
                text-align: left;
            }
            nav ul{
                display: block;
                right: 5px;
                position: absolute;
            }

            nav ul li{
                display: inline-block;
                padding: 10px;

            }
            nav ul li a{
                display: inline-block;
                color:rgb(8, 0, 0);
                font-size: 1.2rem;
                padding: 5px;
                background-color: transparent;
                border-radius:5px;
                transition: .3s;
        
            }
            nav ul li a:hover{
                transform: scale(1.1);
                background-color:green;
                color: white;
            }
             #banner-section{
                position: relative;
                height: 100vh;

             }
             .banner-contain{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
             }
             .banner-contain h1{
                width:900px;
                font-size: 3.5rem;
             }
             .banner-contain p{
                width:700px;
                font-size: 2.5rem;
             }
             footer p{
                text-align: left;

             }
             .social-media{
                text-align: right;
             }
            
        
   .col-lg-1 {width: 8.33%;}
   .col-lg-2 {width: 16.66%;}
   .col-lg-3 {width: 25%;}
   .col-lg-4 {width: 33.33%;}
   .col-lg-5 {width: 41.66%;}
   .col-lg-6 {width: 50%;}
   .col-lg-7 {width: 58.33%;}
   .col-lg-8 {width: 66.66%;}
   .col-lg-9 {width: 75%;}
   .col-lg-10 {width: 83.33%;}
   .col-lg-11 {width: 91.66%;}
   .col-lg-12 {width: 100%;}
       
    }
   
